<ion-header>
  <ion-navbar>
    <ion-title>OrderLog</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of logList; let idx = index" (click)="selectedIdx = idx">
      <div class="item-title">
        {{item.storeName}} {{item.status}}
      </div>
      <div class="item-expand" *ngIf="selectedIdx == idx">
        <ion-list>
          <ion-item *ngFor="let mItem of item.menu">
            {{mItem.name}} {{mItem.price * mItem.cnt | number}}
          </ion-item>
        </ion-list>
        <button *ngIf="item.status == 0" ion-button full (click)="cancel(item.orderNo)">Cancel</button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
